lectures/lecture-0/stocker17rdm101-lecture-0.aux
lectures/lecture-0/stocker17rdm101-lecture-0.log
lectures/lecture-0/stocker17rdm101-lecture-0.nav
lectures/lecture-0/stocker17rdm101-lecture-0.out
lectures/lecture-0/stocker17rdm101-lecture-0.snm
lectures/lecture-0/stocker17rdm101-lecture-0.soc
lectures/lecture-0/stocker17rdm101-lecture-0.synctex.gz
lectures/lecture-0/stocker17rdm101-lecture-0.toc
lectures/lecture-I/stocker17rdm101-lecture-I.aux
lectures/lecture-I/stocker17rdm101-lecture-I.bbl
lectures/lecture-I/stocker17rdm101-lecture-I.blg
lectures/lecture-I/stocker17rdm101-lecture-I.log
lectures/lecture-I/stocker17rdm101-lecture-I.nav
lectures/lecture-I/stocker17rdm101-lecture-I.out
lectures/lecture-I/stocker17rdm101-lecture-I.snm
lectures/lecture-I/stocker17rdm101-lecture-I.soc
lectures/lecture-I/stocker17rdm101-lecture-I.synctex.gz
lectures/lecture-I/stocker17rdm101-lecture-I.toc
lectures/lecture-II/stocker17rdm101-lecture-II.aux
lectures/lecture-II/stocker17rdm101-lecture-II.log
lectures/lecture-II/stocker17rdm101-lecture-II.nav
lectures/lecture-II/stocker17rdm101-lecture-II.out
lectures/lecture-II/stocker17rdm101-lecture-II.snm
lectures/lecture-II/stocker17rdm101-lecture-II.soc
lectures/lecture-II/stocker17rdm101-lecture-II.synctex.gz
lectures/lecture-II/stocker17rdm101-lecture-II.toc
lectures/lecture-III/stocker17rdm101-lecture-III.aux
lectures/lecture-III/stocker17rdm101-lecture-III.log
lectures/lecture-III/stocker17rdm101-lecture-III.nav
lectures/lecture-III/stocker17rdm101-lecture-III.out
lectures/lecture-III/stocker17rdm101-lecture-III.snm
lectures/lecture-III/stocker17rdm101-lecture-III.soc
lectures/lecture-III/stocker17rdm101-lecture-III.synctex.gz
lectures/lecture-III/stocker17rdm101-lecture-III.toc
lectures/lecture-II/stocker17rdm101-lecture-II.vrb
exercises/exercise-I/stocker17rdm101-exercise-I.aux
exercises/exercise-I/stocker17rdm101-exercise-I.log
exercises/exercise-I/stocker17rdm101-exercise-I.nav
exercises/exercise-I/stocker17rdm101-exercise-I.out
exercises/exercise-I/stocker17rdm101-exercise-I.snm
exercises/exercise-I/stocker17rdm101-exercise-I.soc
exercises/exercise-I/stocker17rdm101-exercise-I.synctex.gz
exercises/exercise-I/stocker17rdm101-exercise-I.toc
exercises/exercise-II/stocker17rdm101-exercise-II.aux
exercises/exercise-II/stocker17rdm101-exercise-II.log
exercises/exercise-II/stocker17rdm101-exercise-II.nav
exercises/exercise-II/stocker17rdm101-exercise-II.out
exercises/exercise-II/stocker17rdm101-exercise-II.snm
exercises/exercise-II/stocker17rdm101-exercise-II.soc
exercises/exercise-II/stocker17rdm101-exercise-II.synctex.gz
exercises/exercise-II/stocker17rdm101-exercise-II.toc
