lectures/lecture-0/stocker17rdm101-lecture-0.aux
lectures/lecture-0/stocker17rdm101-lecture-0.log
lectures/lecture-0/stocker17rdm101-lecture-0.nav
lectures/lecture-0/stocker17rdm101-lecture-0.out
lectures/lecture-0/stocker17rdm101-lecture-0.snm
lectures/lecture-0/stocker17rdm101-lecture-0.soc
lectures/lecture-0/stocker17rdm101-lecture-0.synctex.gz
lectures/lecture-0/stocker17rdm101-lecture-0.toc
lectures/lecture-I/stocker17rdm101-lecture-I.aux
lectures/lecture-I/stocker17rdm101-lecture-I.bbl
lectures/lecture-I/stocker17rdm101-lecture-I.blg
lectures/lecture-I/stocker17rdm101-lecture-I.log
lectures/lecture-I/stocker17rdm101-lecture-I.nav
lectures/lecture-I/stocker17rdm101-lecture-I.out
lectures/lecture-I/stocker17rdm101-lecture-I.snm
lectures/lecture-I/stocker17rdm101-lecture-I.soc
lectures/lecture-I/stocker17rdm101-lecture-I.synctex.gz
lectures/lecture-I/stocker17rdm101-lecture-I.toc
lectures/lecture-II/stocker17rdm101-lecture-II.aux
lectures/lecture-II/stocker17rdm101-lecture-II.log
lectures/lecture-II/stocker17rdm101-lecture-II.nav
lectures/lecture-II/stocker17rdm101-lecture-II.out
lectures/lecture-II/stocker17rdm101-lecture-II.snm
lectures/lecture-II/stocker17rdm101-lecture-II.soc
lectures/lecture-II/stocker17rdm101-lecture-II.synctex.gz
lectures/lecture-II/stocker17rdm101-lecture-II.toc
