lectures/lecture-0/stocker17rdm101-lecture-0.aux
lectures/lecture-0/stocker17rdm101-lecture-0.log
lectures/lecture-0/stocker17rdm101-lecture-0.nav
lectures/lecture-0/stocker17rdm101-lecture-0.out
lectures/lecture-0/stocker17rdm101-lecture-0.snm
lectures/lecture-0/stocker17rdm101-lecture-0.soc
lectures/lecture-0/stocker17rdm101-lecture-0.synctex.gz
lectures/lecture-0/stocker17rdm101-lecture-0.toc
